# exclude compiled binaries and external models
/bin
# exclude data from source control by default
/data/temp
/data/processed
/data/raw
.Rproj.user
summer-fair.Rproj
.RData
.Rhistory
.RDS


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook
.ipynb_checkpoints
# Lock files
*.~lock*
.Rhistory
